body {
  background-color: #97CAEF;
  font-family: Rubik, Calibri;
}

hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid pink;
  margin: 1em 0; padding: 0; }

th {
    font-family: fantasy;
}

table.table2 td, tr {    border: 2px solid pink;
  white-space: wrap;
  padding: 5px 10px;
}

iframe{
  border: 4px solid pink;
}

footer {
  margin-top: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 5px;
  background-color: #C5CBE3;
  z-index: 5;
}
footer h3 {
  display: inline-block;
  font-size: 20px;
  background-color: #C5CBE3;
}

.moveimage
{
    position: relative;
    top: 10px;
}
